.dirstamp
alloca.h
byteswap.h
errno.h
fcntl.h
float.h
fnmatch.h
getopt.h
glibconfig.h
glib.h
iconv.h
locale.h
sched.h
signal.h
spawn.h
stdarg.h
stdbool.h
stddef.h
stdint.h
stdio.h
stdlib.h
string.h
sys_select.h
sys_socket.h
sys_stat.h
sys_time.h
sys_wait.h
time.h
unistd.h
wchar.h
wctype.h
arg-nonnull.h
c++defs.h
configmake.h
ref-add.sed
ref-del.sed
unused-parameter.h
warn-on-use.h
charset.alias
