accessible
animation
dialogs
effects
egl
!embedded
graphicsview
gui.pro
image
inputmethod
itemviews
kernel
mac
Makefile
math3d
painting
pkgconfig
QtGui.dynlist
s60framework
statemachine
styles
symbian
text
util
widgets
