activeqt
animation
assistant
dbus
designer
desktop
dialogs
draganddrop
effects
examples.pro
gestures
graphicsview
help
ipc
itemviews
layouts
linguist
mainwindows
Makefile
multimedia
multitouch
network
opengl
openvg
painting
phonon
qmake
qtconcurrent
qtestlib
qws
README
richtext
script
sql
statemachine
symbianpkgrules.pri
threads
tools
tutorials
uitools
!webkit
widgets
xml
xmlpatterns
