io.pri
qabstractfileengine.cpp
qabstractfileengine.h
qabstractfileengine_p.h
qbuffer.cpp
qbuffer.h
qdatastream.cpp
qdatastream.h
qdatastream_p.h
qdebug.cpp
qdebug.h
qdir.cpp
qdir.h
qdiriterator.cpp
qdiriterator.h
qfile.cpp
qfile.h
qfileinfo.cpp
qfileinfo.h
qfileinfo_p.h
qfile_p.h
!qfilesystemwatcher.cpp
qfilesystemwatcher_dnotify.cpp
qfilesystemwatcher_dnotify_p.h
qfilesystemwatcher_fsevents.cpp
qfilesystemwatcher_fsevents_p.h
qfilesystemwatcher.h
qfilesystemwatcher_inotify.cpp
qfilesystemwatcher_inotify_p.h
qfilesystemwatcher_kqueue.cpp
qfilesystemwatcher_kqueue_p.h
qfilesystemwatcher_p.h
qfilesystemwatcher_symbian.cpp
qfilesystemwatcher_symbian_p.h
qfilesystemwatcher_win.cpp
qfilesystemwatcher_win_p.h
!qfsfileengine.cpp
qfsfileengine.h
qfsfileengine_iterator.cpp
qfsfileengine_iterator_p.h
qfsfileengine_iterator_unix.cpp
qfsfileengine_iterator_win.cpp
qfsfileengine_p.h
qfsfileengine_unix.cpp
qfsfileengine_win.cpp
qiodevice.cpp
qiodevice.h
qiodevice_p.h
qnoncontiguousbytedevice.cpp
qnoncontiguousbytedevice_p.h
qprocess.cpp
qprocess.h
qprocess_p.h
qprocess_symbian.cpp
qprocess_unix.cpp
qprocess_win.cpp
qresource.cpp
qresource.h
qresource_iterator.cpp
qresource_iterator_p.h
qresource_p.h
qsettings.cpp
qsettings.h
qsettings_mac.cpp
qsettings_p.h
qsettings_win.cpp
qtemporaryfile.cpp
qtemporaryfile.h
qtextstream.cpp
qtextstream.h
qurl.cpp
qurl.h
qwindowspipewriter.cpp
qwindowspipewriter_p.h
