codecs.pri
codecs.qdoc
qfontlaocodec.cpp
qfontlaocodec_p.h
qiconvcodec.cpp
qiconvcodec_p.h
qisciicodec.cpp
qisciicodec_p.h
qlatincodec.cpp
qlatincodec_p.h
qsimplecodec.cpp
qsimplecodec_p.h
!qtextcodec.cpp
qtextcodec.h
qtextcodec_p.h
qtextcodecplugin.cpp
qtextcodecplugin.h
qtsciicodec.cpp
qtsciicodec_p.h
qutfcodec.cpp
qutfcodec_p.h
