.deps/
.libs/
*.o
*.lo
Makefile
config.h
config.log
config.status
libtool
libxml-2.0-uninstalled.pc
libxml-2.0.pc
libxml2.la
libxml2.spec
runsuite
runtest
runxmlconf
stamp-h1
testAutomata
testC14N
testHTML
testModule
testReader
testRegexp
testRelax
testSAX
testSchemas
testThreads
testURI
testXPath
testapi
testchar
testdict
testdso.la
testrecurse
xml2-config
xml2Conf.sh
xmlcatalog
xmllint
