Makefile
config.h
config.log
config.status
directfb-config
directfb-internal.pc
directfb.pc
directfb.spec
autom4te.cache/
dfbg.1
*.Plo
*.Po
*.la
*.lai
*.so
*.soT
*.o
*.lo
*.so.*
*.a
.libs/
libtool
stamp-h1
