.deps/
.libs/
Makefile
*.o
*.lo
*.la
*.pc
config.h
config.log
config.status
libtool
pcre-config
pcre.h
pcre_chartables.c
pcre_scanner_unittest
pcre_stringpiece.h
pcre_stringpiece_unittest
pcrecpp_unittest
pcrecpparg.h
pcregrep
pcretest
stamp-h1
