freebsd-generic-g++/
linux-arm-g++/
linux-armv6-g++/
linux-avr32-g++/
linux-cellon-g++/
linux-dm7000-g++/
linux-dm800-g++/
linux-generic-g++/
linux-generic-g++-32/
linux-ipaq-g++/
linux-lsb-g++/
!linux-mipsel-g++/
linux-mips-g++/
linux-powerpc-g++/
linux-sh4al-g++/
linux-sharp-g++/
linux-sh-g++/
linux-x86_64-g++/
linux-x86-g++/
linux-zylonite-g++/
macx-generic-g++/
solaris-generic-g++/
