!pyqt-gpl.sip
!phonon/
!Qt/
!QtAssistant/
!QtCore/
!QtDesigner/
!QtGui/
!QtHelp/
!QtMultimedia/
!QtNetwork/
!QtOpenGL/
!QtScript/
!QtScriptTools/
!QtSql/
!QtSvg/
!QtTest/
!QtWebKit/
!QtXml/
!QtXmlPatterns/
