alloca.h
errno.h
fcntl.h
float.h
iconv.h
signal.h
stdarg.h
stdbool.h
stddef.h
stdint.h
stdio.h
stdlib.h
string.h
sys_stat.h
time.h
unistd.h
wchar.h
wctype.h
arg-nonnull.h
c++defs.h
charset.alias
configmake.h
exported.sh
gettext-po.h
ref-add.sed
ref-del.sed
unused-parameter.h
warn-on-use.h
libtool
