bin/
changes-4.6.2
config.status
config.tests/
configure
configure.exe
demos/
doc/
examples/
!.gitignore
include/
INSTALL
!ketlaer-configure
LGPL_EXCEPTION.txt
lib/
.LICENSE-ALLOS
.LICENSE-ALLOS-US
.LICENSE-DESKTOP
.LICENSE-DESKTOP-US
.LICENSE-EMBEDDED
.LICENSE-EMBEDDED-US
.LICENSE-EVALUATION
.LICENSE-EVALUATION-US
LICENSE.GPL3
LICENSE.LGPL
Makefile
!mkspecs/
.moc/
.obj/
.pch/
.uic/
.rcc/
plugins/
projects.pro
qmake/
.qmake.cache
README
!src/
.tag
tools/
translations/
