directfb.pri
!embedded.pri
qcopchannel_qws.cpp
qcopchannel_qws.h
qdecorationdefault_qws.cpp
qdecorationdefault_qws.h
qdecorationfactory_qws.cpp
qdecorationfactory_qws.h
qdecorationplugin_qws.cpp
qdecorationplugin_qws.h
qdecoration_qws.cpp
qdecoration_qws.h
qdecorationstyled_qws.cpp
qdecorationstyled_qws.h
qdecorationwindows_qws.cpp
qdecorationwindows_qws.h
qdirectpainter_qws.cpp
qdirectpainter_qws.h
qkbd_defaultmap_qws_p.h
qkbddriverfactory_qws.cpp
qkbddriverfactory_qws.h
qkbddriverplugin_qws.cpp
qkbddriverplugin_qws.h
!qkbdlinuxinput_qws.cpp
qkbdlinuxinput_qws.h
qkbdqnx_qws.cpp
qkbdqnx_qws.h
qkbd_qws.cpp
qkbd_qws.h
qkbd_qws_p.h
qkbdtty_qws.cpp
qkbdtty_qws.h
qkbdum_qws.cpp
qkbdum_qws.h
qkbdvfb_qws.cpp
qkbdvfb_qws.h
qlock.cpp
qlock_p.h
qmousedriverfactory_qws.cpp
qmousedriverfactory_qws.h
qmousedriverplugin_qws.cpp
qmousedriverplugin_qws.h
qmouselinuxinput_qws.cpp
qmouselinuxinput_qws.h
qmouselinuxtp_qws.cpp
qmouselinuxtp_qws.h
qmousepc_qws.cpp
qmousepc_qws.h
qmouseqnx_qws.cpp
qmouseqnx_qws.h
qmouse_qws.cpp
qmouse_qws.h
qmousetslib_qws.cpp
qmousetslib_qws.h
qmousevfb_qws.cpp
qmousevfb_qws.h
!qscreendriverfactory_qws.cpp
qscreendriverfactory_qws.h
qscreendriverplugin_qws.cpp
qscreendriverplugin_qws.h
qscreenlinuxfb_qws.cpp
qscreenlinuxfb_qws.h
qscreenmulti_qws.cpp
qscreenmulti_qws_p.h
qscreenproxy_qws.cpp
qscreenproxy_qws.h
qscreenqnx_qws.cpp
qscreenqnx_qws.h
qscreen_qws.cpp
qscreen_qws.h
qscreentransformed_qws.cpp
qscreentransformed_qws.h
qscreenvfb_qws.cpp
qscreenvfb_qws.h
qsoundqss_qws.cpp
qsoundqss_qws.h
qtransportauthdefs_qws.h
qtransportauth_qws.cpp
qtransportauth_qws.h
qtransportauth_qws_p.h
qunixsocket.cpp
qunixsocket_p.h
qunixsocketserver.cpp
qunixsocketserver_p.h
qvfbhdr.h
qwindowsystem_p.h
qwindowsystem_qws.cpp
qwindowsystem_qws.h
qwscommand_qws.cpp
qwscommand_qws_p.h
qwscursor_qws.cpp
qwscursor_qws.h
qwsdisplay_qws.h
qwsdisplay_qws_p.h
qwsembedwidget.cpp
qwsembedwidget.h
qwsevent_qws.cpp
qwsevent_qws.h
qwslock.cpp
qwslock_p.h
qwsmanager_p.h
qwsmanager_qws.cpp
qwsmanager_qws.h
qwsproperty_qws.cpp
qwsproperty_qws.h
qwsprotocolitem_qws.h
qwssharedmemory.cpp
qwssharedmemory_p.h
qwssignalhandler.cpp
qwssignalhandler_p.h
qwssocket_qws.cpp
qwssocket_qws.h
qwsutils_qws.h
!rtd
