3rdparty/
activeqt/
corelib/
dbus/
!gui/
Makefile
multimedia/
network/
opengl/
openvg/
phonon/
!plugins/
qbase.pri
qt3support/
qt_install.pri
qt_targets.pri
s60installs/
s60main/
script/
scripttools/
sql/
src.pro
svg/
testlib/
tools/
winmain/
xml/
xmlpatterns/
