accessible/
audio/
codecs/
decorations/
!gfxdrivers/
graphicssystems/
iconengines/
imageformats/
inputmethods/
kbddrivers/
Makefile
mousedrivers/
phonon/
plugins.pro
qpluginbase.pri
s60/
script/
sqldrivers/
